.skills-bg {
  background-color: #fff4c4;
}

.skills-h1 {
  color: #ff7700;
}

.skills-h3 {
  color: #ff851b;
}

.skills-row {
  display: flex;
  justify-content: space-evenly;
}

.skills-card {
  width: 40%;
  min-width: max-content;
  max-width: 350px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  margin: 15px 0;
}
.skills-card h2 {
  color: #ff7700;
}
.skills-card h3 {
  color: #ff851b;
  margin-top: 10px;
}
.skills-pill {
  display: inline-block;
  margin: 15px 10px 0 0;
  background-color: #fff4c4;
  color: #ff7700;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .skills-row {
    flex-direction: column;
  }
  .skills-card {
    width: 80%;
    margin: 10px auto;
  }
}
