* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    position: relative;
}

#topbar {
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0;
    height: 50px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 24px;
    transition: 0.2s top;
}

label {
    vertical-align: sub;
}

input {
    width: 90px;
    font-size: 20px;
    vertical-align: sub;
    border: none;
    border-bottom: 2px solid white;
    transition: 0.2s all;
}
input:focus {
    border-bottom: 2px solid #cd7106;
    transition: 0.2s all;
}

button {
    background-color: #cd7106;
    padding: 8px 13px;
    border: none;
    vertical-align: unset;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#hider-container {
    position: fixed;
    top: 10px;
    right: 0px;
    padding: 0 15px;
    font-size: 20px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
}

.demo {
    height: 100vh;
    background: white;
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

